.container {
	position: relative;
	width: 100%;
	height: 80%;
	overflow: auto;
	vertical-align: top;
}

.user-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.userContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.welcomeTitle p, .welcomeText p{
	margin: 0px;
}
.welcomeTitle, .welcomeText{
	position: relative;
	left: 0%;
	right: 0%;
	padding-left: 15%;
	padding-right: 15%;
	
	/*font-family: Roboto;*/
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	
	text-align: center;
	letter-spacing: 0.15px;
	
	color: #0D47A1;
}
.welcomeTitle {
	top: 7%;
}
.welcomeText {
	top: 14%;
}

.containerPlace, .containerRole{
	position: relative;
	left: 0%;
	right: 0%;
	padding-left: 10%;
	padding-right: 10%;
}
.containerPlace {
	top: 24%;
}
.containerRole {
	top: 31%;
}
.placeField, .roleField {
	width: 100%;
	border-radius: 0px;
}

.containerContinue {
	position: relative;
	left: 0%;
	right: 0%;
	padding-left: 30%;
	padding-right: 30%;
  	min-width: 64px;
  	top: 42%;
}
.continue{
	width: 100%;
	border-radius: 0px;
	color: red;
}